.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  // color: #ffffff;
  font-size: 14px;
  font-weight: lighter;
  // background: #333333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  // background: #fff;
  text-decoration: none;
  // color: #333333;
}
