.foodlist-wrap {
  width: 70%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 9.375rem;
  padding: 1.25rem;
  border-radius: 1.5625rem;

  display: flex;
  flex-direction: column;
}

@media (max-width: 30.5625rem) {
  .foodlist-wrap {
    width: 80%;
    margin-top: 15.625rem;
  }
}
